body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  color: #212121;
  line-height: 1.6;
}

header {
  background-color: #00796B;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header figure {
  margin: 10px 0 0;
}

header figure img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid #fff;
}

a {
  color: #E91E63;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#theme-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

ul {
  list-style: none;
}

ul li {
  display: flex;
  align-items: center;
  margin: 10px, 0;
  flex-wrap: wrap;
}

ul li span {
  margin-right: 10px;
  font-size: 1.2em;
}

ul li p {
  display: inline;
  margin-right: 5px;
  font-weight: bold;
  margin: 0;
}

ul li a {
  display: inline;
  margin-left: 5px;
}

.contact-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact-item span {
  font-size: 1.2em;
}

contact-item p {
  display: inline;
  font-weight: bold;
  margin: 0;
}

.contact-item a {
  display: inline;
}

section {
  max-width: 800px;
  margin: auto;
}

section+section {
  margin-top: 10px;
  /* Adicionado para diminuir o espaço entre seções */
}

section h2 {
  border-bottom: 2px solid #00796B;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 1.8em;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.grid-container figure {
  margin: 0;
  text-align: center;
}

.grid-container img {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

body.dark-mode {
  background: #2E2E2E;
  color: #FFFFFF;
}

body.dark-mode header {
  background-color: #7CB342;
}

body.dark-mode a {
  color: #03DAC6;
}

body.dark-mode nav ul li {
  color: #fff;
}

.skills-list {
  column-count: 2;
  column-gap: 30px;
  padding: 0 5%;
  list-style: none;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skill-item img {
  display: inline-block;
  margin-left: 5px;
}

.skill-item dd{
  margin-inline-start: 2px;
}

.courses-list {
  column-count: 2;
  column-gap: 20px;
}

.courses-list dd {
  break-inside: avoid;
}

.university {
  font-weight: bold;
  color: #00796B;
}

body.dark-mode .university {
  color: #B2FF59;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #00796B;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
}

body.dark-mode footer {
  background-color: #7CB342;
  /* Mesma cor do cabeçalho no modo escuro */
}

section:last-of-type {
  padding-bottom: 60px;
  /* Aumentado para dar mais espaço antes do footer */
}

#language-toggle {
  position: absolute;
  top: 4px;
  left: 50px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.toggle-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  left: 10px;
}

#theme-toggle,
#language-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#language-toggle.en img {
  padding-top: 5px;
  padding-left: 5px;
  width: auto;
  height: 40px;
}

#language-toggle.pt img {
  width: auto;
  height: 50px;
}

.padding-left {
  padding-left: 3%;
}

