@media (max-width: 768px) {
  header {
    text-align: left;
    padding: 10px 5%; 
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 0 10%; 
  }

  ul li {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-buttons {
    top: 10px;
    right: 10px;
    left: auto;
    display: flex;
    flex-direction: row;
  }

  #theme-toggle {
    top: 60px;
    right: 70px;
    left: auto;
  }
  
  #language-toggle {
    top: 54px;
    right: 10px;
    left: auto;
  }

  .skills-list {
    padding: 0 10%;
  }

  .padding-left {
    padding-left: 10%;
  }

  #professional-profile-text {
    padding-right: 10%;
  }

  #degree {
    padding-right: 5%;
  }

  #university {
    margin-left: 5%;
  }

  .courses-list dd {
    margin-left: 10%;
  }

  section h2 {
    padding-left: 5%;
  }

}